.bg-black {
  background: #000 !important; }

.bg-white {
  background: #fff !important; }

.bg-dark-100 {
  background: #1e1e1e !important; }

.bg-dark-200 {
  background: #4a4a4a !important; }

.bg-red {
  background: #ff6558 !important; }

.bg-blue-light {
  background: rgba(0, 253, 255, 0.15) !important; }

.bg-blue-extra {
  background: #58d7ff !important; }

.color-black {
  color: #000 !important; }

.color-white {
  color: #fff !important; }

.color-dark-100 {
  color: #1e1e1e !important; }

.color-dark-200 {
  color: #4a4a4a !important; }

.color-red {
  color: #ff6558 !important; }

.color-blue-light {
  color: rgba(0, 253, 255, 0.15) !important; }

.color-blue-extra {
  color: #58d7ff !important; }

main .app-container .app-wrapper {
  height: 50vh; }
  main .app-container .app-wrapper md-content {
    overflow-x: hidden; }

/*# sourceMappingURL=style.css.map */
