$dark-100: #1e1e1e !default;
$dark-200: #4a4a4a !default;
$black: #000 !default;
$white: #fff !default;
$red: #ff6558 !default;
$blue-light: rgba(0, 253, 255, 0.15) !default;
$blue-extra: #58d7ff !default;

$colors:(
	'black': $black,
	'white': $white,
	'dark-100': $dark-100,
	'dark-200': $dark-200,
	'red': $red,
	'blue-light': $blue-light,
	'blue-extra': $blue-extra
) !default;