<html ng-app="todoApp">
<head ng-controller="headerController">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title ng-bind="title">Loading...</title>
	<link rel="stylesheet" href="css/angular-material.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel="stylesheet" href="css/style.css">
	<style>
		.draggable{
			z-index: 1;
			cursor: move;
		}
		.ui-sortable-placeholder.item{
			height: 50px;
		}
	</style>
</head>
<body ng-controller="todoController" class="bg-blue-light" ng-cloak>
	<main ng-init="refresh()">
		<div class="app-container" layout layout-fill layout-align="center center">
			<div flex-xs="100" flex-gt-xs="60" flex-gt-sm="50" flex-gt-md="35" layout="column" md-whiteframe="z3" class="app-wrapper bg-white">
				<md-toolbar md-colors="hue-3">
					<div class="md-toolbar-tools bg-black color-blue-extra">
						<h1 flex>{{appName}}</h1>
						<md-button class="md-primary bg-white color-black" ng-click="addCategory($event)">Add Category</md-button>
						<md-button class="md-icon-button" arial-label="New" ng-click="showInputPrompt()">
        					<md-tooltip md-direction="bottom">New Task</md-tooltip>
							<md-icon class="md-secondary" aria-label="New" md-font-icon="fas fa-plus-circle fa-lg"></md-icon>
						</md-button>
						<md-button class="md-icon-button" arial-label="Refresh" ng-click="refresh()">
        					<md-tooltip md-direction="bottom">Refresh</md-tooltip>
							<md-icon class="md-secondary" aria-label="New" md-font-icon="fas fa-sync-alt fa-lg"></md-icon>
						</md-button>
					</div>
				</md-toolbar>
				<md-content ng-model="todoList">
					<md-list flex ng-repeat="todo in todoList">
						<md-subheader class="md-no-sticky">{{todo.category}}</md-subheader>
						<div ui-sortable="sortableOptions" ng-model="todo.tasks">
							<div class="apps-container" ng-repeat="task in todo.tasks">
								<md-list-item ng-click="null" class="item">							
								    <md-checkbox ng-model="task.status" ng-change="refresh()"></md-checkbox>
									<h3>{{task.title}} <span ng-if="task.date">({{task.date}})</span></h3>
									<i class="md-secondary fas fa-arrows-alt fa-lg draggable"></i>
								</md-list-item>
						        <md-divider ></md-divider>
							</div>
						</div>
					</md-list>
				</md-content>
			</div>
		</div>
	</main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="js/angular.min.js"></script> 
<script src="js/angular-animate.min.js"></script> 
<script src="js/angular-aria.min.js"></script> 
<script src="js/angular-messages.min.js"></script> 
<script src="js/angular-material.min.js"></script>
<script src="js/sortable.min.js"></script>
<script src="js/app.js"></script>
<script type="text/ng-template" id="input-template">
	<md-bottom-sheet class="md-grid" layout="column">
	  <div layout="row" layout-align="center center" ng-cloak>
	    <h4>Please type a new task:</h4>
	  </div>
	  <form name="inputForm" ng-cloak>
	    <md-content flex layout="column" layout-align="center center">
	    	<md-input-container class="md-block" flex-gt-sm flex="20">
				<label>e.g. Go for shopping</label>
				<input required ng-model="task" md-autofocus press-Enter="add()">
	            <!-- <div ng-message="required">Please type at least something</div> -->
			</md-input-container>

			<div layout="row">
				<md-input-container class="md-block">
					<label>Category</label>
					<md-select ng-model="category" press-Enter="add()">
						<md-option ng-repeat="c in categories" value="{{c.category}}">
							{{c.category}}
						</md-option>
					</md-select>
				</md-input-container>

				<md-input-container flex>
					<label>Enter date</label>
					<md-datepicker ng-model="taskDate" md-min-date="today" md-open-on-focus press-Enter="add()"></md-datepicker>
				</md-input-container>
			</div>

			<md-button class="md-raised" ng-click="add()">Add</md-button>
	    </md-content>
	  </form>
	</md-bottom-sheet>
</script>
</html>